/*     font-family: 'Raleway', sans-serif; 
    font-family: 'Oswald', sans-serif;*/


img{
    border: 5px solid black;
}

h1{
    border-radius: 0px 100px 100px 100px;
-webkit-border-radius: 0px 100px 100px 100px;
-moz-border-radius: 0px 100px 100px 100px;
border: 20px solid #50fff8;
width: 200px;

}

h2{
    text-transform: uppercase;
    font-style: italic;
    font-family: 'Raleway', sans-serif;

}

h4{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    

}

p{
    padding-bottom: 10px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;

}
#contacto:hover{
    background-color: aquamarine;
    width: 305px;

}

#contacto a{
    background-color: goldenrod;
}

.icono{ background: #00ffc9;
    background: linear-gradient(0deg,#00ffc9 0%, #00caff 80%);
    background: -webkit-linear-gradient(0deg,#00ffc9 0%, #00caff 80%);
    background: -moz-linear-gradient(0deg,#00ffc9 0%, #00caff 80%);
font-size: 30px;}

.icono2{ background: #f3ff00;
    background: linear-gradient(0deg,#f3ff00 0%, #ff9100 80%);
    background: -webkit-linear-gradient(0deg,#f3ff00 0%, #ff9100 80%);
    background: -moz-linear-gradient(0deg,#f3ff00 0%, #ff9100 80%);
font-size: 30px;}