<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/resultados">Resultados</a></li>
        <li><a href="/posiciones">Posiciones</a></li>
        <li><a href="/contacto">Contacto</a></li>
        <li><a href="/ultnot">Ultimas Noticias</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
