<nav>
      <ul>
        <li><a href="/ultnotbundesliga">Bundesliga</a></li>
        <li><a href="/ultnotlaliga">La Liga</a></li>
        <li><a href="/ultnotligue1">Ligue 1</a></li>
        <li><a href="/ultnotpremier">Premier League</a></li>
        <li><a href="/ultnotseriea">Serie A</a></li>
      </ul>
    </nav>