<div class="homeimg">
            <img src="images/qatar.JPG" width="965" alt="Av">
        </div>
        <div class="columnas">
            <div class="bienvenidos">
                <h2>Fecha por Grupos</h2>
                <h4>Grupo A</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta, rerum. Quisquam tempore fuga dicta
                    nobis? Laborum tempore id in, temporibus nemo fuga eveniet ducimus alias molestias dolor provident,
                    eaque rerum.</p>
                <h4>Grupo B</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam porro eligendi aliquid ut
                    recusandae, expedita accusamus iste exercitationem tempore adipisci eius voluptatem odit nisi nobis
                    error ex atque molestias sunt.</p>
                <h4>Grupo C</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam porro eligendi aliquid ut
                    recusandae, expedita accusamus iste exercitationem tempore adipisci eius voluptatem odit nisi nobis
                    error ex atque molestias sunt.</p>
                <h4>Grupo D</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam porro eligendi aliquid ut
                    recusandae, expedita accusamus iste exercitationem tempore adipisci eius voluptatem odit nisi nobis
                    error ex atque molestias sunt.</p>
                <h4>Grupo E</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam porro eligendi aliquid ut
                    recusandae, expedita accusamus iste exercitationem tempore adipisci eius voluptatem odit nisi nobis
                    error ex atque molestias sunt.</p>
                <h4>Grupo F</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam porro eligendi aliquid ut
                    recusandae, expedita accusamus iste exercitationem tempore adipisci eius voluptatem odit nisi nobis
                    error ex atque molestias sunt.</p>
                <h4>Grupo G</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam porro eligendi aliquid ut
                    recusandae, expedita accusamus iste exercitationem tempore adipisci eius voluptatem odit nisi nobis
                    error ex atque molestias sunt.</p>
                <h4>Grupo H</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam porro eligendi aliquid ut
                    recusandae, expedita accusamus iste exercitationem tempore adipisci eius voluptatem odit nisi nobis
                    error ex atque molestias sunt.</p>
            </div>

        </div>