 <div>
            <p class="h4">TOP 3 ENG</p>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ENG</th>
                        <th scope="col">Equipo</th>
                        <th scope="col">Victorias</th>
                        <th scope="col">Empates</th>
                        <th scope="col">Derrotas</th>
                        <th scope="col">Puntos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>M City</td>
                        <td>10</td>
                        <td>1</td>
                        <td>1</td>
                        <td>31</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Liverpool</td>
                        <td>9</td>
                        <td>2</td>
                        <td>1</td>
                        <td>29</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Chelsea</td>
                        <td>8</td>
                        <td>1</td>
                        <td>3</td>
                        <td>25</td>
                    </tr>
                </tbody>
            </table>
            <p class="h4">TOP 3 ESP</p>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ENG</th>
                        <th scope="col">Equipo</th>
                        <th scope="col">Victorias</th>
                        <th scope="col">Empates</th>
                        <th scope="col">Derrotas</th>
                        <th scope="col">Puntos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>R Madrid</td>
                        <td>10</td>
                        <td>1</td>
                        <td>1</td>
                        <td>31</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Barca</td>
                        <td>9</td>
                        <td>2</td>
                        <td>1</td>
                        <td>29</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>A Madrid</td>
                        <td>8</td>
                        <td>1</td>
                        <td>3</td>
                        <td>25</td>
                    </tr>
                </tbody>
            </table>
            <p class="h4">TOP 3 ITA</p>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ENG</th>
                        <th scope="col">Equipo</th>
                        <th scope="col">Victorias</th>
                        <th scope="col">Empates</th>
                        <th scope="col">Derrotas</th>
                        <th scope="col">Puntos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Milan</td>
                        <td>10</td>
                        <td>1</td>
                        <td>1</td>
                        <td>31</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Inter</td>
                        <td>9</td>
                        <td>2</td>
                        <td>1</td>
                        <td>29</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Napoli</td>
                        <td>8</td>
                        <td>1</td>
                        <td>3</td>
                        <td>25</td>
                    </tr>
                </tbody>
            </table>
        </div>