<nav>
    <ul class="holder">
    <li><a class="{{#if isPremierLeague}}activo{{/if}}" href="/ultnotpremier">PremierLeague</a></li>
    <li><a class="{{#if isLaLiga}}activo{{/if}}" href="/ultnotlaliga">LaLiga</a></li>
    <li><a class="{{#if isSerieA}}activo{{/if}}" href="/ultnotseriea">SerieA</a></li>
    <li><a class="{{#if isLigue1}}activo{{/if}}" href="/ultnotligue1">Ligue1</a></li>
    <li><a class="{{#if isBundesliga}}activo{{/if}}" href="/ultnotbundesliga">Bundesliga</a></li>
</ul>
</nav>
<div style="background-color: rgb(226, 247, 224);">
            <p class="h4">Ultimas Noticias</p>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-200">
                        <img src="images/amadrid.JPG" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Victoria 4-0 del Barca</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 2 mins ago</small>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-200">
                        <img src="images/barca.JPG" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Dura derrota del Inter</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This card has even longer content than the first to show that equal
                                height action.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 1 hour ago</small>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-200">
                        <img src="images/rmadrid.JPG" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This card has even longer content than the first to show that equal
                                height action.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>